/*-- scss:functions --*/


/*-- scss:defaults --*/
$primary: SteelBlue;
$figure-caption-font-size: 93% !important;
$body-bg: #181818;
$body-color: rgb(200, 200, 200);
$navbar-bg: #181818;
$figure-caption-color: rgb(128, 128, 128) !important;
// $font-size-root: 109.5%;

/*-- scss:rules --*/

.navbar {
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom-width: 0px !important
}

.katex {
    font-size: 106% !important;
}