/*-- scss:functions --*/


/*-- scss:defaults --*/

$body-color: black;
// $code-font-size: 90% !important;
$figure-caption-font-size: 95% !important;
$font-family-sans-serif:  "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
// $headings-font-weight: 450 !default;
$font-size-root: 106%;

$figure-caption-font-size: 90% !important;
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;
$navbar-bg: #181818;
$figure-caption-color: rgb(128, 128, 128) !important;

/*-- scss:rules --*/

.navbar {
    // padding-bottom: 2px;
    // padding-top: 2px;
}

#quarto-document-content {
    // max-width: 770px !important;
}