/*-- scss:functions --*/


/*-- scss:defaults --*/

// $code-font-size: 90% !important;
$figure-caption-font-size: 95% !important;

// $headings-font-weight: 450 !default;
// $font-size-root: 103%;

$figure-caption-font-size: 90% !important;
$body-bg: #181818;
$body-color: rgb(200, 200, 200);
$link-color: #75AADB;
$navbar-bg: #181818;
$figure-caption-color: rgb(128, 128, 128) !important;

/*-- scss:rules --*/

.navbar {
    padding-bottom: 3px;
    padding-top: 3px;
}

#quarto-document-content {
    // max-width: 770px !important;
}