/*-- scss:functions --*/




/*-- scss:defaults --*/

$primary: SteelBlue;
$font-family-sans-serif: "Georgia";
$font-size-root: 15.25px;
$figure-caption-font-size: 15.0px !important;
$figure-caption-color: rgb(170, 170, 170) !important;
$navbar-bg: rgb(50, 50, 50);


// /*-- scss:rules --*/

.navbar {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    border-bottom-width: 0px !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.math.display .MathJax  {
  font-size: 16.25px !important;
}

.math.inline .MathJax  {
}

// // This will change table font size (example: display Pandas DataFrame.) But
// // it also changes blog post listings table in "blog.qmd".
// // I don't know how to fix this yet.
// table {
//     // font-size: 13.0px !important;
// }

p {
    text-align: justify;
}

p, li { 
    color: rgb(10, 10, 10) !important;
}

h1, h2, h3, h4, h5, h6, h7 {
    color: black !important;
}