
/*-- scss:defaults --*/

// $primary: rgb(0, 100, 200);
// $primary: black;
$primary: #2780e3;

// /*-- scss:rules --*/

// Remove underline from links.
a, u {
    // color: black !important;
    // text-decoration: none !important;
}
