/*-- scss:functions --*/



/*-- scss:defaults --*/
    

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 400 !important;
}
h2 {
    font-size: 1.5em;
}


.navbar {
    padding-bottom: 2.5px !important;
    padding-top: 2.5px !important;
    border-bottom-width: 0px !important;
}
