/*-- scss:functions --*/



/*-- scss:defaults --*/

$primary: SteelBlue;
$font-family-sans-serif: "Georgia";
$font-size-root: 15.25px;
$h1-font-size: 1.96em;
$h2-font-size: 1.520896em;
$h3-font-size: 1.30em;
$h4-font-size: 1.15em;
$h5-font-size: 1.0em;
$figure-caption-font-size: 14.35px !important;


/*-- scss:rules --*/

.navbar {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    border-bottom-width: 0px !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.quarto-title {
  .quarto-categories {
    .quarto-category {
      // font-size: 0.6em !important;
      border-radius: 0.0em !important;
    }
  }
}

// Justify text.
p {
    text-align: justify;
}

.math.display .MathJax  {
//  font-size: 16.25px !important;
}

.math.inline .MathJax  {
}

// Decrease the font size of displayed Pandas DataFrames. (This will also change the font
// size of all listings.
table {
    // font-size: 13.0px !important;
}

// Custom font 
$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  // @import url($web-font-path);
}