/*-- scss:defaults --*/

$font-family-sans-serif: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$h1-font-size: 2.00em;
$h2-font-size: 1.55em;
$h3-font-size: 1.20em;
$h4-font-size: 1.0em;
$h5-font-size: 1.0em;

$body-color: black !default;
$navbar-bg: rgba(black, 0.0);
$navbar-fg: rgba(black, 1.0);

// $primary: rgb(18, 84, 127);  // muted
$primary: rgb(26, 94, 173);  // slightly brighter


/*-- scss:rules --*/

// Hyperlink underlining
a, {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.navbar {
  a:hover {
    text-decoration: none;
  }
}

// Link icons
.icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-list li {
  display: grid;
  grid-template-columns: 1.25rem auto;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon-list i {
  font-size: 1rem;
  width: 1.25rem;   /* prevents icons from stretching */
  text-align: center;
}

.icon-link {
  display: grid;
  grid-template-columns: 1.25rem auto;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  color: rgba(black, 0.7);          /* normal text color */
}

.icon-link:hover {
  text-decoration: none;
}

.icon-link span {
  white-space: nowrap;
}

@media (max-width: 900px) {
  .sidebar-links {
    display: none;
  }
}