@import "./custom.scss";


/*-- scss:defaults --*/

// $primary: rgb(30, 58, 138);  // dark navy
// $primary: rgb(0, 49, 83);  // prussian blue
$primary: black;


/*-- scss:rules --*/

h1 h2 h3 h4 h5 h6 {
    font-color: black !important;
}

.navbar {
    background-color: rgb(50, 50, 50) !important;
}

div.quarto-about-trestles {
    h1 {
        font-size: 1.1em;
    }
    p {
        padding-top: 0 !important;
    }
    .about-image {
        max-width: 175px !important;
        max-height: 175px !important;
    }
    .lead {
        margin-top: 0;
        margin-bottom: 0.25em;
    }
    .about-entity {
        @include media-breakpoint-up(lg) {
            max-width: 188px;
            // flex: 0 0 20%;
        }
        padding-left: 0.0 !important;
        padding-right: 0.0 !important;
        margin-left: 0 !important;
        margin-right: 4.0em !important;
        text-align: left !important;
        align-items: left !important;
    }
    .about-contents {
        border-left: solid 0px rgb(216, 216, 216);
        margin-left: 0.0em;
        padding-left: 0.0em;
        h3 {
            font-size: 1.1em;
            margin-top: 0;
        }
    }
}
