/*-- scss:defaults --*/

$font-family-sans-serif: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$h1-font-size: 2.00em;
$h2-font-size: 1.50em;
$h3-font-size: 1.20em;
$h4-font-size: 1.0em;
$h5-font-size: 1.0em;

/*-- scss:rules --*/

// Remove underline from links.
a, u {
    // text-decoration: none !important;
}