/*-- scss:defaults --*/

$font-family-sans-serif: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


/*-- scss:rules --*/

// Remove underline from links.
a, u {
    // text-decoration: none !important;
}
