@import "./custom.scss";


/*-- scss:defaults --*/

$primary: white;
$body-color: rgb(200, 200, 200);
$body-bg: rgb(20, 20, 20);

$code-block-bg: rgb(40, 40, 40);
$code-color: $body-color;  // inline code text
$code-bg: $code-block-bg;  // inline code background



/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6, h7 {
  color: white !important;
}

h2, .h2 {
    border-bottom-color: rgb(50, 50, 50) !important;
}

.cell-output {
    pre, code {
        color: $body-color !important;
    }
}

.quarto-listing-table {
    border-color: rgb(150, 150, 150) !important;
}

blockquote {
    border-left: .25rem solid rgb(40, 40, 40);
}

.navbar {
    background-color: rgb(20, 20, 20) !important;
}

div.quarto-about-trestles {
    h1 {
        font-size: 1.25em;
    }
    p {
        padding-top: 0 !important;
    }
    .about-image {
        max-width: 175px !important;
        max-height: 175px !important;
    }
    .lead {
        margin-top: 0;
        margin-bottom: 0.25em;
    }
    .about-entity {
        @include media-breakpoint-up(lg) {
            max-width: 188px;
            // flex: 0 0 20%;
        }
        padding-left: 0.0 !important;
        padding-right: 0.0 !important;
        margin-left: 0 !important;
        margin-right: 2.0em !important;
        text-align: left !important;
        align-items: left !important;
    }
    .about-contents {
        border-left: solid 1px rgb(40, 40, 40);
        margin-left: 0.0em;
        padding-left: 2.0em;
        h3 {
            margin-top: 0;
        }
    }
}
