.papers-dl {
  display: grid;
  /* grid-template-columns: 90px 1fr; */
  grid-template-columns: 45px 1fr;
  row-gap: 0.75rem;
}

.papers-dl dt {
  font-weight: 400;
  color: #555;
}

.papers-dl dd {
  margin: 0;
}
